In [7]:
import pandas as pd
import numpy as np
file_path = r"/content/Credit Default.csv"
df = pd.read_csv(file_path, header = 0)
df

           Income        Age         Loan  Loan to Income  Default
0     66155.92510  59.017015  8106.532131        0.122537        0
1     34415.15397  48.117153  6564.745018        0.190752        0
2     57317.17006  63.108049  8020.953296        0.139940        0
3     42709.53420  45.751972  6103.642260        0.142911        0
4     66952.68885  18.584336  8770.099235        0.130990        1
...           ...        ...          ...             ...      ...
1995  59221.04487  48.518179  1926.729397        0.032535        0
1996  69516.12757  23.162104  3503.176156        0.050394        0
1997  44311.44926  28.017167  5522.786693        0.124636        1
1998  43756.05660  63.971796  1622.722598        0.037086        0
1999  69436.57955  56.152617  7378.833599        0.106267        0

[2000 rows x 5 columns]

In [8]:
# количество строк и столбцов
df.shape

(2000, 5)

In [10]:
# тип данных в столбцах
df.dtypes

Income            float64
Age               float64
Loan              float64
Loan to Income    float64
Default             int64
dtype: object

In [13]:
df['Age'] = df['Age'].astype(int)

In [14]:
# количество уникальных значений для Возраста
df['Age'].value_counts()

Age
53    60
27    54
47    53
54    51
41    51
25    49
52    49
43    48
34    48
45    48
55    48
28    48
32    48
19    48
36    47
60    46
22    46
35    45
23    45
56    45
62    45
51    45
21    44
29    44
33    43
49    43
26    43
18    43
57    42
48    42
44    42
42    41
24    40
61    38
50    38
20    38
59    38
63    36
39    36
58    36
40    36
31    35
37    35
30    34
38    34
46    32
Name: count, dtype: int64

In [21]:
df["Age"] = df["Age"].astype(int)

In [22]:
# частота встречающихся значений для Возраста
df['Age'].value_counts(normalize=True)

Age
53    0.0300
27    0.0270
47    0.0265
54    0.0255
41    0.0255
25    0.0245
52    0.0245
43    0.0240
34    0.0240
45    0.0240
55    0.0240
28    0.0240
32    0.0240
19    0.0240
36    0.0235
60    0.0230
22    0.0230
35    0.0225
23    0.0225
56    0.0225
62    0.0225
51    0.0225
21    0.0220
29    0.0220
33    0.0215
49    0.0215
26    0.0215
18    0.0215
57    0.0210
48    0.0210
44    0.0210
42    0.0205
24    0.0200
61    0.0190
50    0.0190
20    0.0190
59    0.0190
63    0.0180
39    0.0180
58    0.0180
40    0.0180
31    0.0175
37    0.0175
30    0.0170
38    0.0170
46    0.0160
Name: proportion, dtype: float64

In [20]:
# описательные статистики
df.describe()

             Income          Age          Loan  Loan to Income      Default
count   2000.000000  2000.000000   2000.000000     2000.000000  2000.000000
mean   45331.600018    40.428000   4444.369695        0.098403     0.141500
std    14326.327119    13.267284   3045.410024        0.057620     0.348624
min    20014.489470    18.000000      1.377630        0.000049     0.000000
25%    32796.459720    29.000000   1939.708847        0.047903     0.000000
50%    45789.117310    41.000000   3974.719418        0.099437     0.000000
75%    57791.281670    52.000000   6432.410625        0.147585     0.000000
max    69995.685580    63.000000  13766.051240        0.199938     1.000000